body{
  font-family:  sans-serif;
  }

nav{
    /*outline: 1px solid yellow;*/
      }
ul{
  /*outline: 1px solid blue;*/
    background: #2e2e2a;
    list-style: none;
    padding: 0;
    margin: 0;
    line-height: 40px;
  overflow: auto;
  }
li{
  /*outline: 1px solid red;*/
  width: 130px;
  float: left;
  text-align: center;

  }
a{
  /*outline: 1 px solid green;*/
  text-decoration: none;
  color: #fff;
  display: block;
}
a:hover {
  background: #f9a91a;
  color: #fff;
}
